
:root {
    --primary-bg-color: #FDF4F5;
    --primary-bg-color-header: #393646;
    --primary-font-color: #FFF;
    --primary-font-family: 'Open sans';
    --primary-bg-button: #20c997;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font-family);
    background-color: var(--primary-bg-color);
}

/*Custom header*/
.header {
    background-color: var(--primary-bg-color-header);
    margin-bottom: 3rem;
    padding: 20px;
}

.header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-nav-title {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.header-nav-title > i {
    color: var(--primary-bg-button);
    font-weight: 700;
    align-self:baseline;
}

.header-nav-title > h5 {
    color: var(--primary-font-color);
    font-weight: 700;
    align-self:baseline;
}

.header-search {
    display: flex;
    flex-direction: row;
}
.header-search input {
    border: none;
    padding: 5px;
}

.header-search a {
    color: var(--primary-bg-color-header);
    background-color: #89848d;
    padding: 6px;
}

.header-search a:hover {
    background-color: var(--primary-bg-button);
    color: var(--primary-font-color);
}

.main-container {
    min-height: 100vh;
}

/*datatable search*/
.dataTables_filter {
    display: none;
}
/*---------------------------------------------------------*/

/*datatables quantidade de dados na tabela*/
.dataTables_length {
    margin-bottom: 0.4rem;
}
/*---------------------------------------------------------*/

.tabela-employee {
    max-width: 90%;
    margin: auto;
    overflow: auto;
}

.tabela-new-employee {
    margin-bottom: 0.7rem;
}

.tabela-new-employee button {
    background-color: #7149C6;
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.tabela-new-employee button > a {
    color: var(--primary-font-color);
    font-weight: 400;
    text-decoration: none;
}

.tabela-employee button > a:hover {
    font-weight: 600;
}

.tabela-employee button > a > i:hover {
    font-weight: 600;
}

/* Datatables Custom buttons*/
.paginate_button  > a{
    border: none;
    border-radius: 3px;
}
.paginate_button > a:hover {
    color: var(--primary-font-color);
    background-color: var(--primary-bg-button);
}

.paginate_button.active > a {
    background-color: var(--primary-bg-button) !important;
}

.paginate_button.active > a:hover {
    font-weight: bold !important;
}
/*---------------------------------------------------------*/

.footer {
    position:absolute;
    width: 100%;
    margin-top: 3rem;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 0;
    left: 0;
    background-color: var(--primary-bg-color-header);
    padding: 15px;
    width: 100%;
}

.main-footer p {
    color: var(--primary-font-color);
    font-style: italic;
    text-align: center;
    margin: auto;
}

@media (min-width: 700px) {
    .container {
        max-width: 80%;
    }
    
    .header-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .tabela-employee {
        max-width: 80%;
        height: 100%;
        margin: auto;
        overflow: hidden;
    }

    /*Datatables quatidade de rows*/
    .dataTables_length {
        float: right;
    }
}