{% extends '../index.html' %}
{% block content %}
    <div class="tabela-employee">
        <div class="tabela-new-employee">
            <button><a href="{% url 'addEmployee' %}"><i class="fa-solid fa-plus"></i> New Employee</a></button>
        </div>
        <table class="table table-bordered">
            <thead class="table-success">
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>JOB</th>
                <th>Active</th>
            </thead>
            <tbody>
                {% for employee in employees %}
                    <tr>
                        <th>{{ employee.id }}</th>
                        <th>{{ employee.name }}</th>
                        <th>{{ employee.email }}</th>
                        <th>{{ employee.job }}</th>
                        <th>{{ employee.active }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}